@tailwind base;
@tailwind components;
@tailwind utilities;

a {
	@apply text-blue-500;
	font-weight: 500; /* Equivalent to Tailwind's font-medium */
	text-decoration: none; /* Ensure links are not underlined by default */
}

a:hover {
	text-decoration: underline;
}